<div class="form-group" ng-repeat="key in notSorted(fields)" ng-init="field = fields[key]"
 ng-class="{'has-error': form.$submitted && !form[field.external_id].$valid}">
    <label class="control-label col-md-2" for="{{ field.external_id }}">
        {{ field.label }}
        <span ng-if="field.required" class="text-danger">*</span>
    </label>
    <!-- {{ field | json }} -->

    <div class="col-md-10">
        <!-- Text, Date, E-mail -->
        <input ng-if="field.type == 'text' || field.type == 'email' || field.type == 'date'"
            type="{{ field.type }}" class="form-control"
            name="{{ field.external_id }}" id="{{ field.external_id }}"
            ng-required="field.required" mask="{{ field.mask }}"
            placeholder="{{ field.placeholder }}" ng-model="data[field.external_id]"></input>

        <!-- Single selection -->
        <div ng-if="field.type == 'category' && !field.settings.multiple" class="radio" ng-repeat="option in field.settings.options">
            <label>
                <input type="radio" name="{{ field.external_id }}"
                    value="{{ option.id }}" ng-required="field.required"
                    ng-model="data[field.external_id]"> {{ option.text }}
            </label>
        </div>

        <!-- Multiple selection -->
        <div ng-if="field.type == 'category' && field.settings.multiple" class="checkbox" ng-repeat="option in field.settings.options">
            <label>
                <input type="checkbox" name="{{ field.external_id }}"
                    value="{{ option.id }}" ng-required="field.required"
                    ng-model="data[field.external_id]"> {{ option.text }}
            </label>
        </div>

        <!-- Se existir texto explicativo, mostra -->
        <span ng-if="field.description" class="help-block">{{ field.description }}</span>
    </div>
</div>

<div ng-if="form.$submitted && !form.$valid" class="alert alert-danger">
    <strong>Ops, existem dados não preenchidos.</strong> Por favor verifique todos os campos em vermelho acima.
</div>

<button type="submit" class="btn btn-primary">Enviar formulário</button>