<div class="form-group" ng-repeat="key in notSorted(fields)" ng-init="field = fields[key]"
 ng-class="{'has-error': form.$submitted && !form[field.external_id].$valid}">
    <label class="control-label col-md-2" for="{{ field.external_id }}">
        {{ field.label }}
        <span ng-if="field.required" class="text-danger">*</span>
    </label>
    <!-- {{ field | json }} -->

    <div class="col-md-10">
        <inputx ng-model="data[field.external_id]" field="field"></inputx>
    </div>
</div>

<div ng-if="form.$submitted && !form.$valid" class="alert alert-danger">
    <strong>Ops, existem dados não preenchidos.</strong> Por favor verifique todos os campos em vermelho acima.
</div>

<button type="submit" class="btn btn-primary">Enviar formulário</button>